/* MAIN STYLE SHEET (comment can be removed) */
body
{
    font-family: Helvetica, sans-serif;
}
.nav
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color:rgb(128, 128, 128);
}
.nav li
{
display:block;
padding: 10px;
}
.nav li:hover
{
background-color: rgb(89, 89, 89);
}
.nav li a
{
padding: 10px;
text-decoration: none;
color: white;
}

.banner img
{
    width: 100%;
    
}

footer {
    position:fixed;
    bottom:0;
}

.row {
    width: 100%;
}

/* TEMPLATE STYLING */

/* Custom */
.page-template-template-custom{
    background-color: red;
}
/* End Custom */

/* Home */
.home-container .row{
    display: flex;
    justify-content: space-around;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-container .row .review{
    width: 20%;
    background-color: rgb(89, 89, 89);
    color: white;

}

.home-container .row .review a{
    text-decoration: none;
    color: white;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 150%;
}

.home-container .row .review a:hover{
    color: rgb(219, 219, 219);
}

/* End Home */