/* MAIN STYLE SHEET (comment can be removed) */
body
{
    font-family: Helvetica, sans-serif;
}
.nav
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color:rgb(128, 128, 128);
}
.nav li
{
display:block;
padding: 10px;
}
.nav li:hover
{
background-color: rgb(89, 89, 89);
}
.nav li a
{
padding: 10px;
text-decoration: none;
color: white;
}

.banner img
{
    width: 100%;
    
}

footer {
    position:fixed;
    bottom:0;
}

.row {
    width: 100%;
}

.score-good {
    width: 60px;
    height: 60px;
    background: rgb(0, 255, 51);
    border-radius: 50%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center
  }

.score-bad {
    width: 50px;
    height: 50px;
    background: rgb(255, 0, 0);
    border-radius: 50%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center
  }

/* TEMPLATE STYLING */

/* Custom */
.page-template-template-custom{
    background-color: red;
}
/* End Custom */

/* Home */
.home-container .row{
    display: flex;
    justify-content: space-around;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-container .row .review{
    width: 20%;
    background-color: rgb(89, 89, 89);
    color: white;

}

.home-container .row .review a.title{
    text-decoration: none;
    color: white;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 100%;
}

.home-container .row .review .post-top{
    height: 50%;
}

.home-container .row .review .post-bottom{
    height: 50%;
}



.home-container .row .review a.title:hover{
    color: rgb(219, 219, 219);
}

/* End Home */
/* start single*/

.single-container{
    text-align: center;
}