/* MAIN STYLE SHEET (comment can be removed) */


footer {
    position:absolute;
    bottom:0;
}


/* TEMPLATE STYLING */

/* Custom */
.page-template-template-custom{
    background-color: rgb(30, 249, 107);
    color: white;
}
/* End Custom */